<%= turbo_frame_tag "message_#{message.id}_likes",
  data: {'likes-target': 'widget',
  'initiator': local_assigns[:initiator]} do %>

  Likes: <b><%= message.likes.count %></b>

  <div class="js-actions">
    <%= link_to 'Like', message_likes_path(message),
      class: 'btn btn-success btn-sm d-none',
      data: {turbo_method: :post, 'likes-target': 'doLike'} %>
      
    <%= link_to 'Unlike', message_likes_path(message),
      class: 'btn btn-danger btn-sm d-none',
      data: {turbo_method: :delete, 'likes-target': 'doUnlike'} %>
  </div>
<% end %>